---
- name: Ensure haproxy is installed
  ansible.builtin.apt:
    name: haproxy
    state: present

- name: Create SSL key symlink
  ansible.builtin.file:
    src: "{{ ssl_cert_dir }}/privkey.pem"
    dest: "{{ ssl_cert_dir }}/fullchain.pem.key"
    state: link
    mode: "0600"
  tags:
    - config

- name: Deploy haproxy config
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0600"
  notify: Restart haproxy
  tags:
    - config

- name: Enable haproxy service
  ansible.builtin.service:
    name: haproxy
    enabled: true
