---
- name: Ensure packages are present
  ansible.builtin.apt:
    name:
      - python3
      - virtualenv
      - curl
    state: present

- name: Ensure paths are available
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - /srv/www/services
    - /srv/api/

- name: Copy backend
  ansible.builtin.copy:
    src: api/{{ item }}
    dest: /srv/api/
  loop:
    - server.py
    - requirements.txt
  tags:
    - backend

- name: Deploy server config
  ansible.builtin.template:
    src: servers.yml.j2
    dest: /srv/api/servers.yml
  tags:
    - backend

- name: Copy status client
  ansible.builtin.copy:
    src: api/mc_status_client/{{ item }}
    dest: "{{ mc_status_client_path }}/{{ item }}"
  loop:
    - client.py
    - requirements.txt
  tags:
    - backend

- name: Copy frontend
  ansible.builtin.copy:
    src: front/{{ item }}
    dest: /srv/www/services/
  loop:
    - index.html
    - assets
  tags:
    - frontend

- name: Install Server python packages
  ansible.builtin.pip:
    chdir: /srv/api/
    virtualenv: /srv/api/venv
    requirements: requirements.txt
  tags:
    - backend

- name: Install MC status client python packages
  ansible.builtin.pip:
    chdir: "{{ mc_status_client_path }}"
    virtualenv: "{{ mc_status_client_path }}/venv"
    requirements: requirements.txt
  tags:
    - backend
